body {
      margin: 0;
      font-family: Arial, sans-serif;
      font-size: x-large;
      background: #f1f3f6;
    }

    header {
      /* position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%; */
      background-color: #2874f0;
      color: white;
      padding: 15px 30px;
      display:flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .search-bar {
     display: flex;
     align-items: center;
     gap: 5px;
     margin: 10px 0;
    }

    .search-bar input[type="text"] {
     padding: 8px 12px;
     border: 1px solid #ccc;
     border-radius: 7px;
     width: 400px;
   }
   
    .logo{
      font-size: 40px;
      font-weight: bold;
    }
    .logo::first-letter{
      color: #330356;
    }
 
    nav a {
      color: white;
      margin-left: 20px;
      text-decoration:none;
    }
    
    h1 {
      font-size: x-large;
      text-align: center;
      margin-top: 20px;
    }

    nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }

  nav ul li {
    position: relative;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
  }

  nav ul li ul {
    display: none;
    position: absolute;
    color: black;
    background-color: #235bf4;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    min-width: 150px;
    z-index: 1000;
  }

  nav ul li:hover ul {
    display: block;
  }

  nav ul li ul li a {
    padding: 8px 12px;
     white-space: nowrap;
  }

  nav ul li ul li a:hover {
    background:linear-gradient(to right,gray);
    color: #333;
  }

  .cart {
    margin-left: 20px;
  }

  .cart a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .cart img {
    width: 24px;
    height: 24px;
  }

  #cart-count {
    background-color: rgb(234, 45, 241);
    color: white;
    border-radius: 50%;
    padding: 2px 7px;
    font-size: 12px;
    margin-left: 5px;
  } 

    .categories {
      display:grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      margin: 30px auto;
      max-width: 1000px;
      padding: 0px 20px;
    }

    .item {
      background: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 10px 20px rgba(9, 9, 9, 0.1);
      transition: 0.3s;
      text-align: center;
    }

    .item:hover {
      transform: translateY(-8px);
      box-shadow: 10px 15px 35px rgba(0,0,0,0.15);
    }

    .item img {
      max-width: 100%;
      height: 200px;
      object-fit: contain;
      margin-bottom: 15px;
    }

    .item h3 {
      margin: 10px 0 5px;
      font-size: 18px;
    }

    .description {
      font-size: 14px;
      color: #555;
      margin-bottom: 10px;
    }
    .stack {
     font-size: 12px;
     color:darkgray
    }
    .price {
      font-size: 16px;
      font-weight: bold;
      color: #333;
      margin-bottom: 15px;
    }

    .item button {
      background-color: #fda121;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      color: white;
      margin-right: 25px;
      cursor: pointer;
      font-weight: bold;
      /* text-decoration: none; */
    }

    .item button:hover {
      background-color:#0a8b7a;
    }
    
    .cart-item {
      border: 1px solid #ddd;
      padding: 10px;
      margin: 10px;
    }

 
  /* Css For Popup */

  /* Popup container (hidden by default) */
/* .popup {
  display: none; Hidden by default */
  /* position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
} */

/* Popup content */
/* .popup-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  text-align: center;
  position: relative;
} */

/* Close button */
/* .close-btn {
  /* position: absolute;
  top: 8px;
  right: 12px;
  font-size: 24px;
  cursor: pointer;
} */ 

/* Below for add to cart icon  */

/* Cart preview container */
/* .cart-preview {
  position: fixed;
  right: 20px;
  top: 70px;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  z-index: 999;
} */

/* Hide cart initially */
/* .hidden {
  display: none;
} */

/* Each item in cart */
/* .cart-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
}

.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}

.cart-item-name {
  font-size: 14px;
  font-weight: 500;
} */
